<div class="show-mobile">
    <div>
        <button>
            <img src="" alt="menu" >
        </button>
        <a href="">
            <img src="" alt="logo">
        </a>
        <a href="">
            <img src="" alt="logo">
        </a>
    </div>
</div>
<div class="hide-mobile">
    <div>
        <nav>
            <a class="logo" href="">
                <img src="" alt="logo">
            </a>
            <ul>
                <li><a href="">All</a></li>
                <li><a href="">Clothes</a></li>
                <li><a href="">Electronics</a></li>
            </ul>
        </nav>
        <div class="info">
            <div class="account">alfonso@alfonso.com</div>
        </div>
        <div>
            <a href="">
                <img src="" alt="logo">
            </a>
        </div>
    </div>
</div>
